@import
url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

* {
    font-family:'Jeju Gothic', 'serif';
}

header > div {
    padding-top: 200px;
}

header {
    width:100%;
    height:600px;
    background-color:black;
    color:white;
}

header div div {
    background-color:yellow;
    width:100%;
    height:100px;
    color:black;
    font-size:25px;
    display: inline-block;
    border:2px solid blue;
}

section {
    width:100%;
    padding-top: 15px;
    padding-bottom: 50px;
}

footer {
    width:100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:black;
}

footer div p {
    color:white;
}