@import
url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

* {
    font-family:'Jeju Gothic', 'serif';
}

header > div {
    padding-top: 200px;
}

header {
    width:100%;
    height:600px;
    background-color:blue;
}

section {
    width:100%;
    padding-top: 15px;
    padding-bottom: 50px;
}

footer {
    width:100%;
    padding-top: 15px;
    padding-bottom: 100px;
    color:yellow;
}